<template>
  <div class = "pg">
      <div class = "imgBox">
        <img class = "img" src="https://avataaars.io/?avatarStyle=Circle&topType=NoHair&accessoriesType=Blank&facialHairType=MoustacheMagnum&facialHairColor=Platinum&clotheType=Overall&clotheColor=Black&eyeType=Squint&eyebrowType=AngryNatural&mouthType=Sad&skinColor=Brown">
      </div>
      <div>
        <h1 class = "usernameP">
          {{username}}
        </h1>
        <p class = "emailP">
          {{email}}
        </p>
      </div>
  </div>
</template>


<script>
export default{
  head: {
    title: 'Pingr - Usuário'
  },

  data() {
      return{
        email: this.$store.state.user.email,
        password: this.$store.state.user.password,
        username: this.$store.state.user.username
      }
    },

  created() {
    if(this.$store.state.user.jwt === ""){
      this.$router.push("/sign-up")
    }
  }
}
</script>

<style>
.pg{
  @apply bg-gray-50 my-32 pb-6 w-full justify-center items-center overflow-hidden md:max-w-sm rounded-lg shadow-sm mx-auto;
}
.imgBox{
  @apply mb-5 mx-auto h-52 w-52 border-white rounded-full;
}
.img{
  @apply content-evenly object-cover w-full h-full;
}
.usernameP{
  @apply text-3xl text-center font-semibold;
}
.emailP{
  @apply text-xl text-gray-600 text-center;
}
</style>