<template>
  <div class = "tela">
    <div class = "mb-4">
      <h1 class = "title"> Conecte-se! </h1> 
    </div>
    <form class = "caixaLogin">
      <div class = "mb-3">
        <label for = "email">
          E-mail
        </label>
        <input class = "emailInput" v-model = "email" placeholder = "E-Mail">
        <div class = "errMsg" v-if = "!validateEmail && this.email.length > 0"> 
          E-Mail Inválido!
        </div>
      </div>
      <div class = "mb-3">
        <label for = "senha">
          Senha
        </label>
        <input class = "passwordInput" v-model = "password" type = "password" placeholder = "Senha">
        <div class = "errMsg" v-if = "!validatePasswordAlphaNum && this.password.length > 0">
          Senha Inválida! Apenas caracteres Alfanuméricos.
        </div>
        <div class = "errMsg" v-if = "!validatePasswordLen && this.password.length > 0"> 
          Senha Inválida! A senha deve ter entre 8 e 32 caracteres.
        </div>
      </div>
      <div class = "mb-5 errMsg" v-if = "incorrectPassEmailTest && this.email.length"> 
        E-Mail ou senha incorretos!
      </div>
      <div class = "mb-5">
        <button class = "signInButton" @click.prevent = "signUpBtn">
          Conectar!
        </button>
        <button class = "clearButton" type = "reset" @click.prevent = "clearBtn">
          Limpar!
        </button>
      </div>
      <div>
        <a> Não possui uma conta? </a>
        <nuxt-link class = "signupRed" to = "/sign-up"> Cadastre-se! </nuxt-link>
      </div>
    </form>
  </div>
</template>


<script>
export default {
  head: {
    title: 'Pingr - Entrar',
  },

  data(){
    return{
      email: "",
      password: "",
      incorrectPassEmail: false
    }
  },

  computed: {
    incorrectPassEmailTest(){
      return this.incorrectPassEmail
    },

    validateEmail(){
      const reemail = /\S+@\S+\.\S+/;
      return reemail.test(this.email)
    },

    validatePasswordAlphaNum(){
      const repass = /^[a-z0-9]+$/i;
      return repass.test(this.password)
    },

    validatePasswordLen(){
      const passLen = this.password.length
      return passLen >= 8 && passLen <= 32
    }
  },
  
  methods:{
    async signUpBtn(){
      
      this.incorrectPassEmail = false

      const reemail = /\S+@\S+\.\S+/;
      const repass = /^[a-z0-9]+$/i;
      const passLen = this.password.length

      const ve = reemail.test(this.email)
      const vpan = repass.test(this.password)
      const vpl = passLen >= 8 && passLen <= 32

      if(ve && vpan && vpl){
        const dataJson = {
          email: this.email,
          password: this.password,
        }
        
        const status = await this.$store.dispatch("user/login", dataJson)
        if(status === 200){
          const jwt = this.$store.state.user.jwt
          const id = JSON.parse(atob(jwt.split(".")[1])).sub
          const url = '/users/' + id
          const autjwt = "Bearer " + jwt
          this.$axios.setHeader('Authorization', autjwt, ['get']);
          const user = await this.$axios.$get(`/600/users/${id}`)
          this.$store.state.user.username = user.username
          this.$router.push(url)
        }else{
          this.incorrectPassEmail = true
        }

        
      }
    },
    
    clearBtn(){
      this.email = ""
      this.password = ""
      return true
    }
  }
}
</script>

<style>
  .tela{
    @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col;
  }
  .email{
    @apply block text-sm font-bold mb-2;
  }
  .emailInput{
    @apply shadow appearance-none border rounded w-full py-2 px-3;
  }
  .password{
    @apply block text-sm font-bold mb-2;
  }
  .passwordInput{
    @apply shadow appearance-none border rounded w-full py-2 px-3;
  }
  .caixaLogin{
    @apply block text-gray-700 text-sm font-bold mb-2;
  }
  .signInButton{
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
  .clearButton{
    @apply bg-gray-200 text-gray-700 font-bold py-2 px-4 rounded;
  }
  .signupRed{
    @apply text-blue-700;
  }
  .errMsg{
    @apply text-xs text-red-700;
  }
  .title{
    @apply text-xl text-gray-700 font-bold;
  }
</style>