<template>
  <div class = "tela">
    <form class = "caixaLogin">
    <div class = "mb-4">
      <h1 class = "title"> Cadastre-se! </h1> 
    </div>
      <div class = "mb-3">
        <label for = "email">
          E-mail
        </label>
        <input v-model = "email" class = "emailInput" placeholder = "E-Mail">
        <div class = "errMsg" v-if = "!validateEmail && this.email.length > 0">
          E-Mail Inválido!
        </div>
        <div class = "errMsg" v-if = "testEmailUniqueness && this.email.length > 0">
          Este e-mail já Existe!
        </div>
      </div>
      <div class = "mb-3">
        <label for = "senha">
          Senha
        </label>
        <input v-model = "password" class = "passwordInput" type = "password" placeholder = "Senha">
        <div class = "errMsg" v-if = "!validatePasswordAlphaNum && this.password.length > 0">
          Senha Inválida! Apenas caracteres Alfanuméricos.
        </div>
        <div class = "errMsg" v-if = "!validatePasswordLen && this.password.length > 0"> 
          Senha Inválida! A senha deve ter entre 8 e 32 caracteres.
        </div>
      </div>
      <div class = "mb-3">
        <label for = "username">
          Nome de Usuário
        </label>
        <input v-model = "username" class = "usernameInput" placeholder = "Nome de Usuário">
        <div class = "errMsg" v-if = "!validateUsernameAlphaNum && this.username.length > 0">
          Nome de Usuário Inválido! Apenas caracteres Alfanuméricos.
        </div>
        <div class = "errMsg" v-if = "!validateUsernameFirstLetter && this.username.length > 0">
          Nome de Usuário Inválido! Seu Nome de Usuário não pode inicializar com um número
        </div>
        <br><br>
      </div>
      <div class = "mb-5">
        <button class = "signUpButton" @click.prevent = "signUpBtn">
          Cadastrar!
        </button>
        <button class = "clearButton" type = "reset" @click.prevent = "clearBtn">
          Limpar!
        </button>
      </div>
      <div>
        <a> Já possui uma conta? </a>
        <nuxt-link class = "signinRed" to = "/sign-in"> Conecte-se! </nuxt-link>
      </div>
    </form>
  </div>
</template>


<script>
export default {
  head: {
    title: 'Pingr - Cadastro',
  },

  data(){
    return{
      email: "",
      password: "",
      username: "",
      usedEmails: []
    }
  },

  computed: {
    testEmailUniqueness(){
      if(this.usedEmails.includes(this.email)){
        return true
      }else{
        return false
      }
      
    },

    validateEmail(){
      const reemail = /\S+@\S+\.\S+/;
      return reemail.test(this.email)
    },

    validatePasswordAlphaNum(){
      const repass = /^[a-z0-9]+$/i;
      return repass.test(this.password)
    },

    validatePasswordLen(){
      const passLen = this.password.length
      return passLen >= 8 && passLen <= 32
    },

    validateUsernameAlphaNum(){
      const reusern = /^[a-z0-9]+$/i;
      return reusern.test(this.username)
    },

    validateUsernameFirstLetter(){
      return (isNaN(this.username.charAt(0)))
    },
    test(){
      return this.$store.commit("user/returnID")
    }
  },
  methods:{
    async signUpBtn(){
      // const axios = require('axios')

      const reemail = /\S+@\S+\.\S+/;
      const repass = /^[a-z0-9]+$/i;
      const passLen = this.password.length

      const ve = reemail.test(this.email)
      const vpan = repass.test(this.password)
      const vpl = passLen >= 8 && passLen <= 32
      const vuan = repass.test(this.username)
      const vufl = (isNaN(this.username.charAt(0)))
      const vee = !this.usedEmails.includes(this.email)

      if(ve && vpan && vpl && vuan && vufl && vee){
        
        const dataJson = {
          email: this.email,
          password: this.password,
          username: this.username,
        }
        
        const status = await this.$store.dispatch("user/insert", dataJson)
        if(status === 201){
          const id = JSON.parse(atob(this.$store.state.user.jwt.split(".")[1])).sub
          const url = `/users/${id}`
          this.$router.push(url)
        }else {
          this.usedEmails.push(this.email)
        }
      }
    },

    clearBtn(){
      this.email = ""
      this.password = ""
      this.username = ""
    }
  }
}
</script>

<style>
  .tela{
    @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col;
  }
  .email{
    @apply block text-sm font-bold mb-2;
  }
  .emailInput{
    @apply shadow appearance-none border rounded w-full py-2 px-3;
  }
  .password{
    @apply block text-sm font-bold mb-2;
  }
  .passwordInput{
    @apply shadow appearance-none border rounded w-full py-2 px-3;
  }
  .username{
    @apply block text-sm font-bold mb-2;
  }
  .usernameInput{
    @apply shadow appearance-none border rounded w-full py-2 px-3;
  }
  .signUpButton{
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
  .clearButton{
    @apply bg-gray-200 text-gray-700 font-bold py-2 px-4 rounded;
  }
  .signinRed{
    @apply text-blue-700;
  }
  .errMsg{
    @apply text-xs text-red-700;
  }
  .title{
    @apply text-xl text-gray-700 font-bold;
  }
</style>